{% extends "base_map.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/css/webflow_base.css">

<style>
html, body {
  background-color: #f1f1f2;
  font-size: 18px;
  line-height: 1;
}

body, p, h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  color: #808284;
}

.container {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #808284;
  padding-top: 50px;
  background: #f1f1f2;
  padding-bottom: 50px;
}

#community-table {
  margin-top: 50px;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.silver {
  background-color: #C0C0C0;
}

.gold {
  background-color: #FFD700;
}

.carbon {
  background-color: #625D5D;
}

</style>

{% endblock %}

{% block body %}

<div id="container" class="container">
  <div id="">&nbsp;</div>

  <div class="row">
    <div class="col-md-8">
      <div class="twothirds_div">
        <h1>Community</h1>
        The 5 most recent users
      </div>
    </div>
  </div>

  <div class="row">
    <table id="community-table" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th width="15%"> Name </th>
          <th width="30%"> Tier </th>
          <th width="30%"> Points </th>
          <th width="15%"> Phone Number(s) </th>
        </tr>
      </thead>
      <tbody>
        {% for user in recent_users %}
        <tr class="user-info">
          <td class="user-name"><a href="#" data-location="{{user.location}}"> {{ user.display_name }}</a></td>
          <td class="user-tier"> <span class="dot {{ user.tier.lower() }}"></span> {{ user.tier }}</td>
          <td class="user-points"> {{user.point_balance}} </td>
          <td class="user-phones">
            {% if user.phones %}
            {% for phone in user.phones.split(',') %}
            {{phone}} <br/>
            {% endfor %}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>


<div class="modal" tabindex="-1" role="dialog" id="user-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Location: <span></span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  // Here I assume the use of Babel in case of old Web browsers
  // After loading the page
  $(document).ready(function(){
    // Assign event handler to username elements
    let users  = document.querySelectorAll('.user-name');
    for (let user of users) {
      user.onclick = (e) => {
        e.preventDefault();
        $('.modal-title').text(e.target.textContent);
        $('.modal-body span').text(e.target.dataset.location);
        $('#user-modal').modal('show');
      };
    }
  });

</script>
{% endblock %}
